<%= link_to("<< Back to List", {:action => 'index', :subject_id => @subject.id}) %>

<div>
	<h2>Show page</h2>

	<table>
		<tr>
			<th>Name</th>
			<td><%= @page.name %></td>
		</tr>
		<tr>
			<th>Position</th>
			<td><%= @page.position %></td>
		</tr>
		<tr>
			<th>Visible?</th>
			<td><%= @page.visible ? 'true' : 'false' %></td>
		</tr>
		<tr>
			<th>Subject iD</th>
			<td><%= @page.subject_id %></td>
		</tr>
		<tr>
			<th>Permalink</th>
			<td><%= @page.permalink %></td>
		</tr>
		<tr>
			<th>Created at</th>
			<td><%= @page.created_at %></td>
		</tr>
		<tr>
			<th>Updated at</th>
			<td><%= @page.updated_at %></td>
		</tr>
	</table>
</div>