<% @page_title = "Admin User" %>
<div>
	<h2>Admin users</h2>
	<%= link_to("Add New Admin user", {:action => 'new'}, :class => "action new") %>

		

	<p>Number of Admin users: <%= @admin_count %></p>
	<table>
		<tr>
			<th>No.</th>
			<th>First name</th>
			<th>Last name</th>
			<th>Email</th>
			<th>User name</th>
		</tr>
		<% @admin_users.each_with_index do |admin, index| %>
		<tr>
			<td><%= "#{index + 1}. " %></td>
			<td><%= admin.first_name %></td>
			<td><%= admin.last_name %></td>
			<td><%= admin.email %></td>
			<td><%= admin.username %></td>
			<td>
				<%= link_to("Edit", {:action => 'edit', :id => admin.id}, :class => 'action edit') %>
				<%= link_to("Delete", {:action => 'delete', :id => admin.id}, :class => 'action delete') %>

			</td>
		</tr>
		<% end %>
	</table>
		<div><%= link_to("Back to Admin menu", 
	:controller => 'access' ) %></div>
</div>
